/* Classes Utilitárias e de Animação para a Caaqui */

.hidden-step { 
    display: none !important; /* Importante para não conflitar com o Tailwind */
}

.loading-spinner { 
    border-top-color: #3b82f6; 
    animation: spinner 1.5s linear infinite; 
}

@keyframes spinner { 
    0% { transform: rotate(0deg); } 
    100% { transform: rotate(360deg); } 
}
